# Data files
data/*
!data/README.md

# Other files
__pycache__/
.vscode/
test.py
*.xlsx
*.pkl
*.jpg

# No need to update config file every time I change anything to test
# Comment line below when need to commit and push file again
config.json
